<md-content>
  <md-toolbar>
    <span><img [src]="instacardsLogo"></span>
    <span class="fill"></span>
    <button md-button color="primary" (click)="registerSideNav.toggle()">Register</button>
    <button md-button color="primary" (click)="loginSideNav.toggle()">Login</button>
  </md-toolbar>
  <md-toolbar color="primary">
    <button md-button router-active [routerLink]=" ['Index'] ">
      Index
    </button>
    <button md-button router-active [routerLink]=" ['Home'] ">
      Home
    </button>
    <button md-button router-active [routerLink]=" ['About'] ">
      About
    </button>
    <span class="fill"></span>
    <button md-icon-button>
      <md-icon class="fa fa-facebook w3-text-white"></md-icon>
    </button>
    <button md-icon-button>
      <md-icon class="fa fa-twitter w3-text-white"></md-icon>
    </button>
    <button md-icon-button color="white">
      <md-icon class="fa fa-instagram w3-text-white"></md-icon>
    </button>
    <button md-icon-button>
      <md-icon class="fa fa-google-plus w3-text-white"></md-icon>
    </button>
  </md-toolbar>
<md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

<main>
  <md-sidenav-layout>
    <md-sidenav #registerSideNav align="start">
      <md-card>
        <md-card-content>
          <span x-large><h2>Register</h2></span>

          <form [ngFormModel]="registerFormModel" (ngSubmit)="onRegister()" novalidate>

            <p>
              <md-input style="width: 100%"
                        type="text"
                        placeholder="Email:"
                        ngControl="email">
                <span [hidden]="!registerFormModel.hasError('required', 'email')">Email Address is required</span>
              </md-input>
            </p>
            <p ngControlGroup="passwordsGroup">
              <md-input style="width: 100%"
                        type="password"
                        placeholder="Password:"
                        ngControl="password">
                <span [hidden]="!registerFormModel.hasError('required', 'password')">Password is required</span>
              </md-input>
              <md-input style="width: 100%"
                        placeholder="Re-enter Password:"
                        type="password"
                        ngControl="pconfirm">
              </md-input>
            </p>
            <button md-raised-button color="accent" (click)="registerSideNav.close()">Cancel</button>
            <button md-raised-button color="primary" [disabled]="!registerFormModel.valid" type="submit">Register</button>
          </form>
          <!--
            <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
            Rather than wiring up two-way data-binding ourselves with [value] and (input)
            we can use Angular's [(ngModel)] syntax
            <input type="text" [(ngModel)]="localState.value" autofocus>
          -->
        </md-card-content>
      </md-card>
    </md-sidenav>
    <md-sidenav #loginSideNav align="end">
      <md-card>
        <md-card-content>
          <span x-large><h2>Login</h2></span>

          <form [ngFormModel]="loginFormModel" (ngSubmit)="onLogin()" novalidate>

            <p>
              <md-radio-group name="auth_provider" ngControl="authProvider">
                <md-radio-button value="local">Local</md-radio-button>
                <md-radio-button value="facebook">Facebook</md-radio-button>
                <md-radio-button value="instagram">Instagram</md-radio-button>
                <md-radio-button value="google">Google</md-radio-button>
              </md-radio-group>

              <md-input style="width: 100%"
                        type="text"
                        placeholder="Email:"
                        ngControl="email">
                <span [hidden]="!loginFormModel.hasError('required', 'email')">Email Address is required</span>
              </md-input>
              <md-input style="width: 100%"
                        type="password"
                        placeholder="Password:"
                        ngControl="password">
                <span [hidden]="!loginFormModel.hasError('required', 'password')">Password is required</span>
              </md-input>
            </p>
            <button md-raised-button color="accent" (click)="loginSideNav.close()">Cancel</button>
            <button md-raised-button color="primary" [disabled]="!loginFormModel.valid" type="submit">Login</button>
            <a md-raised-button href="/auth/facebook">Facebook</a>
            <a md-raised-button href="/auth/instagram">Instagram</a>
            <button md-raised-button color="accent" (click)="insertUser()">Create User</button>
          </form>
          <!--
            <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
            Rather than wiring up two-way data-binding ourselves with [value] and (input)
            we can use Angular's [(ngModel)] syntax
            <input type="text" [(ngModel)]="localState.value" autofocus>
          -->
        </md-card-content>
      </md-card>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  <!-- WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a> -->
    <p><i class="fa fa-copyright"></i>Copyright Instacards 2016</p>
</footer>
</md-content>
