
html, body {
  height: 100%;
  background: #F4FAFA;
  font-family: Arial, Helvetica, sans-serif;
}

button.active {
  background: #fff;
  color: #009688;
}

button.active:hover {
  color: #fff;
}

.fill {
  flex: 1 1 auto;
}

.app-state {
  margin: 15px;
  flex: 1;
}

.home {
  flex: 1;
}

md-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.form-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.form-transform {
  transition: color 100ms 100ms;
}
span.active {
  background-color: gray;
}
